@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter Tight", sans-serif;
}


.Nav {
    @apply lg:flex md:flex w-48 justify-between text-gray-700 hidden;
}
.Nav-toogle{
    @apply flex absolute right-0 top-14 flex-col text-gray-700 w-40 ;
}
.Nav-toogle span{
    @apply border-2 py-2 text-center bg-gray-50;
}
